<div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 searchBox">
    <input id="btn-input" type="text" class="form-control"  [(ngModel)]="txtSearch" placeholder="Search" />
</div>
</div>

<div class="container"  *ngFor="let userPost of userPostsCombined | searchFilter:txtSearch">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
          <span class="glyphicon glyphicon-comment"></span> {{title}}
        </div>
        <div class="panel-collapse" id="collapseOne">
          <div class="panel-body">


            <strong class="pull-right primary-font">
              <a href="mailto:{{userPost.email}}">
                {{userPost.username}}</a>
            </strong>

            <div class="chat-body clearfix">
              <div class="header">
                <small class="text-muted">
                  <span class="glyphicon  glyphicon-user"></span>
                  {{userPost.title}}
                </small>

              </div>
              <div>
                {{userPost.body}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

</div>
